<style>

h1 {
  color: #ff007f;
}

body {
  color: #ff007f;
}


a:link {
  color: #ff007f;
}


a:visited {
  color: #ff007f;
}

a:hover {
  color: #ff007f;
}

a:active {
  color: #ff007f;
}

h1 {
  font-family: 'Lora', Helvetica, Arial;
}

body {
  font-family: 'Lora', Helvetica, Arial;
}

body {
  cursor: pointer;
  background: #000000 url(https://huzunian.github.io/maple/background.jpeg) center center/cover no-repeat fixed;
}

</style>
