h1 {
  color: #00FF00;
}
h2 {
  color: #00FF00;
}
h3 {
  color: #00FF00;
}
h4 {
  color: #00FF00;
}
h5 {
  color: #00FF00;
}
h6 {
  color: #00FF00;
}
p {
  color: #00FF00;
}
a {
  color: #00FF00;
}
body {
  cursor: crosshair;
  color: #00FF00;
  border: 10px solid #00FF00;
  border-radius: 20px;
  background: #000000 url(https://huzunian.github.io/background.png) center center/cover no-repeat fixed;
}

