h1 {
  color: #00FF00;
}
h2 {
  color: #00FF00;
}
h3 {
  color: #00FF00;
}
h4 {
  color: #00FF00;
}
h5 {
  color: #00FF00;
}
h6 {
  color: #00FF00;
}
p {
  color: #00FF00;
}
a:link {
  color: #00FF00;
}
a:hover {
  color: #5cf4ff;
}
a:active {
  color: #5cf4ff;
}
a:visited {
  color: #00FF00;
}
.navbar {
  background-color: #000000;
  overflow: hidden;
  position: fixed;
  bottom: 0;
  width: 100%;
}
.navbar a {
  float: left;
  display: inline-block;
  color: #5cf4ff;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}
.navbar a:hover {
  background-color: #5cf4ff;
  color: #000000;
}
.navbar a:active {
  background-color: #5cf4ff;
  color: #000000;
}
body {
  border: 5px solid rgba(92, 244, 255, 1);
  border-radius: 15px;
  box-sizing: border-box;
  box-shadow: 0px 0px 0px 0px rgba(0, 0, 0, 0.3);
  text-shadow: 2px 1px 0px rgba(63, 164, 171, 0.3);
  animation: cssAnimation_0 3000ms 10 ease-in-out;
  cursor: crosshair;
  color: #00FF00;
  background: #000000 url(https://huzunian.github.io/background.png) center center/cover no-repeat fixed;
}
@keyframes cssAnimation_0 {
  from {
    border: 5px solid rgba(92, 244, 255, 1); border-radius: 15px;
  }  
  to {
    border: 1px solid rgba(63, 164, 171, 1);
    border-radius: 15px;
  }
}
